<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost/univcontoso</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="show_sql">true</property>
        <!-- List of XML mapping files -->
        <!--<mapping resource="Employee.hbm.xml"/>-->
        <mapping class="ua.lviv.model.Course"/>
        <mapping class="ua.lviv.model.Department"/>
        <mapping class="ua.lviv.model.Enrollment"/>
        <mapping class="ua.lviv.model.Faculty"/>
        <mapping class="ua.lviv.model.Student"/>

    </session-factory>
</hibernate-configuration>